@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* Home */
/* /////////////////////////////////////////////////////////////////////////////// */
.home {
  background-color: #d2daff;
  color: #6f38c5;
}
.image {
  border-radius: 50%;
  border: 5px solid #9c9efe;
}
/* //////////////////////////////////////////////////////////////////////////////// */
/* Education */
/* //////////////////////////////////////////////////////////////////////////////// */
.content {
  font-family: "roboto";
  background-color: #fdeedc;
}

.sectionTitle {
  text-align: center;
  padding: 30px 0 10px;
  position: relative;
}

.sectionTitle h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2;
}
.resumeItem {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #ffb727;
  position: relative;
  background-color: #fdeedc;
}
.resumeItem h4 {
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffb727;
  margin-bottom: 10px;
}

.resumeItem h5 {
  background: #eef0f2;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.resumeItem::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #ffb727;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills {
  background-color: #ccf2f4;
}
.skillsTitle {
  text-align: center;
  padding: 40px;
  position: relative;
}
.skillsTitle h2 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #3490de;
}
.progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
  margin: 5%;
}

.progress span {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #222222;
}

.val {
  float: right;
  font-style: normal;
}
/*--------------------------------------------------------------
# project
--------------------------------------------------------------*/
.project {
  background: #eeeeee;
}
.projectTitle {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.projectTitle h2 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #7dce13;
}
.project_item {
  position: relative;
  margin-bottom: 4%;
  overflow: hidden;
}
.project_item .img {
  transition: all ease-in-out 0.7s;
  background-color: #ffffff;
  padding: 2%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.project_item:hover .img {
  transform: scale(1.2);
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contactTitle {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.contactTitle h2 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #34b7a7;
}

.contact i {
  font-size: 20px;
  color: #34b7a7;
  float: left;
  width: 44px;
  height: 44px;
  background: #effbf9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #222222;
}

.contact p {
  padding: 0 0 0 60px;
  margin-bottom: auto;
  font-size: 14px;
  color: #555555;
}

.email,
.phone {
  margin-top: 40px;
}

.email:hover i,
.address:hover i,
.phone:hover i {
  background: #34b7a7;
  color: #fff;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #e9e8e6;
  padding: 30px 0;
  color: #222222;
  font-size: 14px;
  text-align: center;
}
