@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* Home */
/* /////////////////////////////////////////////////////////////////////////////// */
.home {
  background-color: #d2daff;
  color: #6f38c5;
}
.image {
  border-radius: 50%;
  border: 5px solid #9c9efe;
}
/* //////////////////////////////////////////////////////////////////////////////// */
/* Education */
/* //////////////////////////////////////////////////////////////////////////////// */
.content {
  font-family: "roboto";
  background-color: #fdeedc;
}

.sectionTitle {
  text-align: center;
  padding: 30px 0 10px;
  position: relative;
}

.sectionTitle h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2;
}
.resumeItem {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #ffb727;
  position: relative;
  background-color: #fdeedc;
}
.resumeItem h4 {
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffb727;
  margin-bottom: 10px;
}

.resumeItem h5 {
  background: #eef0f2;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.resumeItem::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #ffb727;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills {
  background-color: #ccf2f4;
  color: #3490de;
}
.skillsTitle {
  text-align: center;
  padding: 40px;
  position: relative;
}
.progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
  margin: 5%;
}

.progress span {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #222222;
}

.val {
  float: right;
  font-style: normal;
}
/*--------------------------------------------------------------
# project
--------------------------------------------------------------*/
.project {
  background: #eeeeee;
}
.projectTitle {
  text-align: center;
  padding: 30px 0 10px;
  position: relative;
}
.projectTitle h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #7dce13;
  position: relative;
  z-index: 2;
}
.project_item {
  margin-bottom: 4%;
}
